.nav-item{
    color: aliceblue;
    padding-top: 17px;
    padding-bottom: 0px;
}
.img-responsive2 {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.navbar-custom {
    background-color: rgba(41, 41, 41, 0.95);
    font-family: Georgia, serif;
    font-weight: bold;
}
.navbar-default {
    background: #000000;
}
#item1, #item2, #item3{
    padding-top: 10px;
    color: goldenrod;
    font-size: 1.4em;
}

.btn-special{
    background-color: rgba(17, 17, 17, 0.87);
    color: ghostwhite;
    font-family: Georgia, serif;
}

.mydiv{
    color: #111111;
    font-family: Georgia, serif;
}

.mybrand{
    color: aliceblue;
    padding-bottom: 0;
    margin: 0;
}

.mytable{
    background-color: rgba(17, 17, 17, 0.8);
    color: goldenrod;
}